:root {
	--pagePaddings: 0 10vw;
	--heading-gray: #6a6a6a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	letter-spacing: 0.1rem;
	line-height: 1.6;
	color: #333;
	background-color: #f4f4f4;
}

section {
	padding: var(--pagePaddings);
	padding-top: 3rem;
}

h6 {
	font-family: 'Caveat', cursive;
	font-size: 0.9rem;
	margin: 0.1rem 0 0 0.1rem;
	letter-spacing: 0.2rem;
	font-weight: 600;
	color: var(--heading-gray);
	padding-bottom: 2.5rem;
	text-transform: uppercase;
}

/* Header */

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 100;
}

.navbar {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: var(--pagePaddings);
}

.navbar .icon {
	fill: #38a169;
}

.logo {
	display: inline-block;
	padding: 0.5rem;
	text-decoration: none;
	font-size: 1.5rem;
}

a {
	color: #38a169;
}

.menu {
	margin: 0;
	display: flex;
	list-style: none;
}

.menu a {
	position: relative;
	z-index: 2;
	display: block;
	letter-spacing: 0.01rem;
	padding: 1rem 2rem;
	text-decoration: none;
	font-weight: 600;
	font-size: 1.25rem;
	transition: 0.2s;
}

.menu a:hover {
	background: #38a169;
	color: #fff;
}

.menu a:hover .icon {
	fill: #fff;
}

.dropdown {
	position: relative;
}

.dropdown > a {
	display: flex;
	align-items: center;
}

.dropdown > a .icon {
	margin-left: 0.25em;
}

.dropdown:hover .dropdown-nav {
	display: block;
	opacity: 1;
	transform: translateY(0);
	box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
		0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.dropdown-nav {
	width: 100%;
	opacity: 0;
	display: none;
	transition: transform 0.3s cubic-bezier(0.88, -0.72, 0, 1),
		opacity 0.3s ease-in-out;
	transform: translateY(-4rem);
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 1;
	background: rgba(225, 255, 225, 0.9);
}

.dropdown-nav a {
	font-weight: 300;
	font-size: 1.2rem;
}

.dropdown-nav li {
	width: 100%;
}

/* Main */

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	background-position: bottom;
	color: #f4f4f4;
	font-size: 5vw;
	font-weight: 600;
	text-align: center;
	font-family: 'Caveat', cursive;
}

.banner > div {
	background-color: #00000077;
	padding: 3rem 4rem;
	border-radius: 1rem;
}

/* Map */

.map h2 {
	font-size: 2.2rem;
}

.map > iframe {
	margin-top: 3rem;
	height: 35rem;
	width: 100%;
}

/* Trails */

.trails > h2 {
	font-size: 2.2rem;
}

.trails .trails_container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	margin-top: 1rem;
}

.trails_container .trail {
	width: 20%;
	aspect-ratio: 1/1;
	flex-grow: 1;
	min-width: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	aspect-ratio: 1/1;
	background-color: #a4a7ac;
	border-radius: 0.5rem;
	padding: 1rem;
	background-size: cover;
	background-position: center;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.trails_container .trail > h3 {
	color: #fff;
	font-size: 1.2rem;
	padding: 1rem;
	background-color: #33333370;
}

.trails_container .trail .desc {
	display: none;
}

/* Trails pop-up */
.pop-up {
	display: none;
	position: fixed;
	z-index: 1000;
	inset: 0;
	background-color: #00000064;
}

.pop-up .content {
	position: relative;
	width: 40%;
	height: 100%;
	float: right;
	background-color: #fff;
	padding-bottom: 2.5rem;
	overflow-y: scroll;
}

.pop-up .content :not(img) {
	padding: 0rem 3rem;
}

.pop-up .content img {
	width: 100%;
	height: 25rem;
}

.pop-up .content h2 {
	font-size: 2rem;
	margin-top: 2rem;
}

.pop-up .content span {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1rem;
	color: #929292;
}

.pop-up .content p {
	margin-top: 2rem;
	font-size: 0.9rem;
}

.pop-up .content iframe {
	width: 100%;
	height: 20rem;
	margin-top: 3rem;
}

/* Gallery */

.gallery {
	padding-bottom: 4rem;
}

.gallery > h2 {
	padding: 0.5rem 0 0 0;
	font-size: 2.2rem;
}

.gallery .container {
	margin-top: 0.75rem;
}

.gallery .container > a {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	transition: 0.2s;
}

.gallery a:hover {
	scale: 1.02;
}

.gallery .container > a > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery .container {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
	grid-auto-rows: 120px;
	grid-auto-flow: dense;
}

.gallery .horizontal {
	grid-column: span 2;
}

.gallery .vertical {
	grid-row: span 2;
}

.gallery .big {
	grid-column: span 2;
	grid-row: span 2;
}

/* Videos */

.videos {
	padding-bottom: 3rem;
}

swiper-slide {
	height: 40rem;
	text-align: center;
	font-size: 18px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

swiper-slide iframe {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Footer */

footer {
	background: #1f9253;
	color: #fff;
	text-align: center;
	padding: 1rem 0;
}

footer .contact,
footer .social-media,
footer .footer-info {
	margin-bottom: 1rem;
}

footer a {
	color: #c5f9eb;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

@media (max-width: 1400px) {
	/* Videos */

	.videos swiper-slide {
		width: 55%;
	}
}

@media (max-width: 1080px) {
	/* Header */

	.navbar {
		padding: 0;
		flex-direction: column;
	}

	header nav .menu {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	header nav .menu > li {
		width: 100%;
	}

	header nav .menu .dropdown-nav {
		width: 100%;
	}

	header nav .menu .dropdown a {
		display: block;
		width: 100%;
	}

	header nav .menu li {
		min-width: 13rem;
	}

	/* Banner */

	.banner > div {
		background-color: #00000077;
		padding: 2rem 2.5rem;
		font-weight: 600;
		border-radius: 1rem;
		margin-top: 14rem;
	}

	banner h2 {
		text-align: center;

		margin-bottom: 1rem;
		color: #007b5e;
	}

	/* Trails */

	.trails .trails_container {
		grid-template-columns: 1fr 1fr 1fr;
	}

	/* Pop-up */

	.pop-up .content {
		width: 60%;
	}

	/* Videos */

	.videos swiper-slide {
		width: 75%;
	}
}

@media (max-width: 1080px) {
	swiper-slide {
		height: 25rem;
	}
}

@media (max-width: 660px) {
	/* Header */

	header nav .menu {
		flex-direction: column;
		align-items: center;
	}

	/* Pop-up */

	.pop-up .content {
		width: 85%;
	}

	/* Videos */

	swiper-slide {
		height: 15rem;
	}
}

@media (min-width: 768px) {
	.attraction-item,
	.trail-item,
	.gallery-item {
		display: inline-block;
		width: 48%;
		margin: 1%;
	}
}
